.containerClass{
    display:flex;
    max-height: 40vh;
    overflow-y: auto;
    flex-direction:column-reverse;
}
.threadTimelineClass{
    display:flex;
    max-height: 25vh;
    overflow-y: auto;
    flex-direction:column-reverse;
}
.userList{
    font-weight: bold; 
    font-size: max(.65vw, 14px);
    color: #3C648D;
    text-align: left;
    width: 97%;
    padding-bottom: 6px;
    padding-top: 6px;
}
.moveLeft{
    transform: translateX(-.5rem);
}

.modalExtender{
    max-width: 50rem;
}
lightning-rich-text-toolbar-button[data-id="richTextSelect"] > button