.containerClass{
    display:flex;
    max-height: Min(50vh,50rem);
    overflow-y: auto;
    flex-direction:column-reverse;
}
.userList{
    font-weight: bold; 
    font-size: max(.65vw, 14px);
    color: #3C648D;
    text-align: left;
    width: 97%;
    padding-bottom: 6px;
    padding-top: 6px;
}
.moveLeft{
    transform: translateX(-.5rem);
}