.containerClass{
    cursor: pointer;
}
.containerClass:hover{
    background-color: rgb(228, 228, 228);
}
.unseenClass{
    background-color: #3C648D;
    padding: .5rem;
    transition: all .15s;
    /* color: white; */
}
.unseenClass:hover{
    border-radius: .25rem;
    /* color: white; */
}
.seenClass{
    padding: .5rem;
}
.previewClass{
    opacity: 1;
    font-size: .9rem;
    font-weight: bold;
}
.timeClass{
    font-size: smaller;
}
.opacityClass{
    opacity: .4;
}
.animateFade{
    animation: pulseIt .25s infinite;
}
.borderClass{
    border: 2px solid #3C648D;
    border-radius: .5rem;
}


@keyframes fadeIn {
    from {
        transform: scale(.99) translateY(-.05rem);
    }
    to {
        transform: scale(1.0) translateY(0);
    }
}
@keyframes pulseIt {
    0% {
        transform: scale(1.0);
        opacity: 1;
    }
    50%{
        transform: scale(.97);
        opacity: .75;
        border-radius: .25rem;
    }
    100% {
        transform: scale(1.0);
        opacity: 1;
    }
}
