.leftGridClass{
    max-height: 75vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.leftGridClass::-webkit-scrollbar {
    display: none;
}
.gridClass{
    max-height: 75vh;
    overflow:scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.gridClass::-webkit-scrollbar {
    display: none;
}
.userList{
    font-weight: bold; 
    font-size: 1rem;
    color: #3C648D;
    text-align: left;
    width: 97%;
    padding-bottom: 6px;
    padding-top: 12px;
}