.containerClass{
    cursor: pointer;
}
.containerClass:hover{
    background-color: rgb(228, 228, 228);
}
.unseenClass{
    background-color: #3C648D;
    padding: .5rem;
    /* color: white; */
}

.seenClass{
    padding: .5rem;
}
.seenClass:hover{
    background-color: rgb(228, 228, 228);
}
.previewClass{
    opacity: 1;
    font-size: .9rem;
    font-weight: bold;
}
.timeClass{
    font-size: smaller;
}
.opacityClass{
    opacity: .4;
}
.animateFade{
    animation: fadeIn .25s;
}

@keyframes fadeIn {
    from {
        transform: scale(.99) translateY(-.05rem);
    }
    to {
        transform: scale(1.0) translateY(0);
    }
}