.messageClass{
    padding:none;
}
.rightClass{
    text-align: left;
    background-color: rgba(226, 226, 226, 0.89);
    border-bottom: 2px solid #cccccc;
}
.leftClass{
    text-align: left;
    background-color: white;
    border-bottom: 2px solid #cccccc;
}
.timeClass{
    opacity: .4;
    font-size: smaller;
}
.animateFade{
    animation: fadeIn .25s;
}

@keyframes fadeIn {
    from {
        transform: scale(.98) translateY(-.1rem);
    }
    to {
        transform: scale(1.0) translateY(0);
    }
}